<%  %>
<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				2021 Transactions
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingONe" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<%- include('../partials/list.ejs', {transactions: data.transactions}) %>
			</div>
		</div>
	</div>
</div>
